.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 25px 15%;

  position: fixed;
  position: -webkit-sticky;
  top: 0;
  right: 0;
  left: 0;

  background-color: hsla(0, 0%, 0%, 0.05);

  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);

  z-index: 10;
}

.web-menu {
  display: flex;

  align-items: center;
  gap: 25px;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.75);
}

a:hover {
  color: #7c3aed;
}

.resume-btn {
  background-color: hsla(0, 0%, 0%, 0.05);

  padding: 10px 20px;
  border-radius: 25px;

  cursor: pointer;

  border: 2px solid;

  font-weight: 700;
}

.resume-btn:hover {
  background-color: #7c3aed;
  color: #f6f6f6;

  border: 2px solid #7c3aed;
}
