.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 5px 15px;

  background-color: blue;

  position: sticky;
}

.web-menu {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
