@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* CSS RESET */
/* .App {
  text-align: center;
} */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Font */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* GLOBAL CSS */

.secondary {
  color: #7c3aed;
}

.pointer {
  cursor: pointer;
}

/* FLEX */

.flex-row {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
